html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #E9EBEE;
}
body {
  margin: 0px;
  padding: 0px;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
